In [39]:
import pandas as pd

# 연도별로 값이 없는 나라 확인하는 함수
# def func_check_null_by_year(df):
na_contry_year = {}
for i in range(1990,2021):
    # na_china_cnt = 0
    # na_china = 0
    temp_data = pd.read_csv(f'Data/rank/{i}.csv')
    na_contry = temp_data[temp_data[str(i)]==0]
    # top_contry = temp_data[temp_data[str(i)]>0]
    # print("결측치가 있는 데이터 : ")
    # print(f"갯수 : {na_contry.count()}")
    # print(na_contry['국가별'])  # 값이 없는 나라 확인.
    na_contry_year[i] = pd.Series(na_contry['국가별'])
    # count_china = sum(['중국' in series.values for series in na_contry_year.values()])
    # if na_contry['국가별'] == "중국" : na_china +=1
    # if na_contry['국가별'] in "중국" : na_china += 1
   
    # print(na_china)    
    # print("=================================")
    # print("결측치가 없는 데이터 : ")
    # print(f"갯수 : {top_contry.count()}")
    # print(top_contry.head(10))  # 값이 있는 나라 확인.

In [40]:
na_contry_year

{1990: 53    이스라엘
 54      이란
 55      중국
 56      페루
 57      인도
 Name: 국가별, dtype: object,
 1991: 51          중국
 52          인도
 53          이란
 54        이스라엘
 55     사우디아라비아
 56          페루
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1992: 51          페루
 52          중국
 53          인도
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1993: 51          페루
 52          중국
 53          인도
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1994: 56       이스라엘
 57    사우디아라비아
 Name: 국가별, dtype: object,
 1995: 50          페루
 51          중국
 52          인도
 53       인도네시아
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1996: 51          페루
 52          중국
 53          인도
 54       인도네시아
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1997: 50          페루
 51          중국
 52          인도
 53       인도네시아
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1998: 50          페루
 51          중국
 52          인도
 53       인도네시아
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 1999: 50          페루
 51          중국
 52          인도
 53       인도네시아
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2000: 56          중국
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2001: 51          페루
 52          중국
 53          인도
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2002: 51          페루
 52          중국
 53          인도
 54          이란
 55        이스라엘
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2003: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2004: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2005: 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2006: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2007: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2008: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2009: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2010: 56          이란
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2011: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2012: 55          인도
 56          이란
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2013: 52          페루
 53          중국
 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2014: 54          인도
 55          이란
 56     사우디아라비아
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2015: 51          페루
 52          중국
 53          인도
 54          이란
 55     사우디아라비아
 56       아르헨티나
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2016: 53          중국
 54          이란
 55     사우디아라비아
 56       아르헨티나
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2017: 49          페루
 50          중국
 51          인도
 52       인도네시아
 53          이란
 54     사우디아라비아
 55       아르헨티나
 56         브라질
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2018: 48          페루
 49          중국
 50          인도
 51       인도네시아
 52          이란
 53     사우디아라비아
 54       아르헨티나
 55         브라질
 56       코스타리카
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2019: 47          페루
 48          중국
 49          인도
 50       인도네시아
 51          이란
 52     사우디아라비아
 53       아르헨티나
 54         브라질
 55        콜롬비아
 56       코스타리카
 57    남아프리카공화국
 Name: 국가별, dtype: object,
 2020: 46          페루
 47          중국
 48          인도
 49       인도네시아
 50          이란
 51     사우디아라비아
 52         멕시코
 53       아르헨티나
 54         브라질
 55        콜롬비아
 56       코스타리카
 57    남아프리카공화국
 Name: 국가별, dtype: object}

In [46]:
# 찾고자 하는 국가
target_country = '중국'

# 카운트 변수 초기화
count = 0

for key, value in na_contry_year.items():
    # 리스트에 target_country가 있으면 카운트 증가
    if target_country in value.values:
        count += 1


count









    # df = pd.DataFrame(value)

    # # 확인할 국가 리스트
    # countries_to_check = ['중국']

    # # 중국이 빠진 년도의 갯수
    # count_china_na = 0
    # count_india_na = 0

    # # 데이터프레임에 국가가 포함되어 있는지 확인
    # for country in countries_to_check:
    #     # if country in df['국가별'].values:
    #         # print(f"{country}가 데이터셋에 포함되어 있습니다.")
    #         count_china_na += 1
    #     # else:
    #         # print(f"{country}가 데이터셋에 포함되어 있지 않습니다.")
    #         # count_india_na += 1

    # # print(key, "\n", value)
    # # '중국'이 포함된 경우의 수를 계산
    # # count_china = sum(['중국' in series.values for series in value.values()])

26

In [45]:
2021-1990

31