In [1]:
import pandas as pd

data = pd.read_csv("Data/온실가스_배출량_1988_2021.csv")

# 국가별 열을 인덱스로 설정.
data.set_index('국가별', inplace=True)

# 행의 모든 값이 NaN인 열을 제거합니다. => 대륙
data.dropna(axis=0, how='all', inplace=True)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 대한민국 to 모나코
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1988    58 non-null     object
 1   1989    58 non-null     object
 2   1990    58 non-null     object
 3   1991    58 non-null     object
 4   1992    58 non-null     object
 5   1993    58 non-null     object
 6   1994    58 non-null     object
 7   1995    58 non-null     object
 8   1996    58 non-null     object
 9   1997    58 non-null     object
 10  1998    58 non-null     object
 11  1999    58 non-null     object
 12  2000    58 non-null     object
 13  2001    58 non-null     object
 14  2002    58 non-null     object
 15  2003    58 non-null     object
 16  2004    58 non-null     object
 17  2005    58 non-null     object
 18  2006    58 non-null     object
 19  2007    58 non-null     object
 20  2008    58 non-null     object
 21  2009    58 non-null     object
 22  2010    58 non-null     object
 23  2011    58 non-null     object
 24  2012    58 non-null     object
 25  2013    58 non-null     object
 26  2014    58 non-null     object
 27  2015    58 non-null     object
 28  2016    58 non-null     object
 29  2017    58 non-null     object
 30  2018    58 non-null     object
 31  2019    58 non-null     object
 32  2020    58 non-null     object
 33  2021    58 non-null     object
dtypes: object(34)
memory usage: 15.9+ KB

In [3]:
data.describe()

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,58,58,58,58,58,58,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
unique,2,2,54,52,52,52,57,51,52,51,...,56,53,55,52,54,50,49,48,47,44
top,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
freq,57,57,5,7,7,7,2,8,7,8,...,3,6,4,7,5,9,10,11,12,15

> - count(개수), 
> - unique(유일한 값의 개수), 
> - top(가장 빈번한 값), 
> - freq(가장 빈번한 값의 빈도수)

In [5]:
# 숫자가 아닌 타입을 0으로 채우고 숫자형식으로 변환.
# data = data.apply(pd.to_numeric, errors='coerce').fillna(0)
data = data.apply(pd.to_numeric, errors='coerce')

In [6]:
data.head()

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
국가별,,,,,,,,,,,,,,,,,,,,,
대한민국,NaN,NaN,292105.1,315352.6,343354.2,378546.0,403568.6,433787.9,470280.3,501912.3,...,688043.7,697297.6,692089.0,692626.5,693687.7,710645.4,726977.6,701213.7,656222.9,NaN
중국,NaN,NaN,NaN,NaN,NaN,NaN,4057617.0,NaN,NaN,NaN,...,11895765.0,NaN,12300200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
인도,NaN,NaN,NaN,NaN,NaN,NaN,1214248.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2839425.0,NaN,NaN,NaN,NaN,NaN
인도네시아,NaN,NaN,266818.4,292610.4,306828.6,318657.5,334191.2,NaN,NaN,NaN,...,757250.0,796579.0,864948.0,907334.0,883224.0,NaN,NaN,NaN,NaN,NaN
이란,NaN,NaN,NaN,NaN,NaN,NaN,385433.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 대한민국 to 모나코
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1988    1 non-null      float64
 1   1989    1 non-null      float64
 2   1990    53 non-null     float64
 3   1991    51 non-null     float64
 4   1992    51 non-null     float64
 5   1993    51 non-null     float64
 6   1994    56 non-null     float64
 7   1995    50 non-null     float64
 8   1996    51 non-null     float64
 9   1997    50 non-null     float64
 10  1998    50 non-null     float64
 11  1999    50 non-null     float64
 12  2000    56 non-null     float64
 13  2001    51 non-null     float64
 14  2002    51 non-null     float64
 15  2003    52 non-null     float64
 16  2004    52 non-null     float64
 17  2005    54 non-null     float64
 18  2006    52 non-null     float64
 19  2007    52 non-null     float64
 20  2008    52 non-null     float64
 21  2009    52 non-null     float64
 22  2010    56 non-null     float64
 23  2011    52 non-null     float64
 24  2012    55 non-null     float64
 25  2013    52 non-null     float64
 26  2014    54 non-null     float64
 27  2015    51 non-null     float64
 28  2016    53 non-null     float64
 29  2017    49 non-null     float64
 30  2018    48 non-null     float64
 31  2019    47 non-null     float64
 32  2020    46 non-null     float64
 33  2021    43 non-null     float64
dtypes: float64(34)
memory usage: 15.9+ KB

In [7]:
data.shape

(58, 34)

In [8]:
data.columns

Index(['1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [10]:
# 각 연도별 데이터프레임을 저장할 딕셔너리
dataframes = {}

# 각 연도의 데이터를 추출하고 내림차순 정렬
for year in data.columns:
    # 각 열을 내림차순으로 정렬합니다.
    dataframes[str(year)] = data[str(year)].sort_values(ascending=False)

In [11]:
# 데이터프레임 새로 만들기
top10_ghg = []
top10_contry = []
top10_year = []

for key, value in dataframes.items():
    top10_year.append(key)
    top10_contry.append(value.index)
    top10_ghg.append(value.values)

In [12]:
top10_year

['1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

In [13]:
top10_contry

[Index(['폴란드', '대한민국', '중국', '인도', '인도네시아', '이란', '이스라엘', '사우디아라비아', '멕시코',
        '아르헨티나', '브라질', '칠레', '콜롬비아', '코스타리카', '페루', '남아프리카공화국', '미국', '러시아',
        '일본', '독일', '캐나다', '튀르키예', '오스트레일리아', '영국', '프랑스', '이탈리아', '카자흐스탄',
        '우크라이나', '스페인', '네덜란드', '체코', '루마니아', '벨기에', '벨라루스', '오스트리아', '그리스',
        '뉴질랜드', '헝가리', '아일랜드', '포르투갈', '불가리아', '노르웨이', '스웨덴', '핀란드', '덴마크',
        '스위스', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아', '라트비아', '룩셈부르크',
        '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코'],
       dtype='object', name='국가별'),
 Index(['폴란드', '대한민국', '중국', '인도', '인도네시아', '이란', '이스라엘', '사우디아라비아', '멕시코',
        '아르헨티나', '브라질', '칠레', '콜롬비아', '코스타리카', '페루', '남아프리카공화국', '미국', '러시아',
        '일본', '독일', '캐나다', '튀르키예', '오스트레일리아', '영국', '프랑스', '이탈리아', '카자흐스탄',
        '우크라이나', '스페인', '네덜란드', '체코', '루마니아', '벨기에', '벨라루스', '오스트리아', '그리스',
        '뉴질랜드', '헝가리', '아일랜드', '포르투갈', '불가리아', '노르웨이', '스웨덴', '핀란드', '덴마크',
        '스위스', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아', '라트비아', '룩셈부르크',
        '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '우크라이나', '영국', '캐나다', '브라질', '프랑스', '이탈리아',
        '폴란드', '멕시코', '오스트레일리아', '카자흐스탄', '남아프리카공화국', '대한민국', '스페인', '인도네시아',
        '루마니아', '네덜란드', '아르헨티나', '튀르키예', '체코', '사우디아라비아', '벨기에', '벨라루스', '그리스',
        '콜롬비아', '불가리아', '헝가리', '오스트리아', '슬로바키아', '덴마크', '스웨덴', '핀란드', '뉴질랜드',
        '포르투갈', '아일랜드', '스위스', '노르웨이', '칠레', '리투아니아', '에스토니아', '크로아티아', '라트비아',
        '슬로베니아', '룩셈부르크', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '이스라엘', '페루'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '우크라이나', '영국', '캐나다', '브라질', '프랑스', '이탈리아',
        '멕시코', '폴란드', '오스트레일리아', '카자흐스탄', '대한민국', '스페인', '인도네시아', '아르헨티나',
        '네덜란드', '튀르키예', '루마니아', '체코', '벨기에', '벨라루스', '콜롬비아', '그리스', '헝가리',
        '오스트리아', '덴마크', '불가리아', '스웨덴', '핀란드', '뉴질랜드', '슬로바키아', '포르투갈', '스위스',
        '아일랜드', '리투아니아', '노르웨이', '칠레', '에스토니아', '크로아티아', '라트비아', '슬로베니아',
        '룩셈부르크', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '우크라이나', '영국', '캐나다', '브라질', '프랑스', '이탈리아',
        '멕시코', '폴란드', '오스트레일리아', '카자흐스탄', '대한민국', '인도네시아', '스페인', '아르헨티나',
        '튀르키예', '네덜란드', '루마니아', '체코', '벨기에', '벨라루스', '콜롬비아', '그리스', '헝가리',
        '덴마크', '오스트리아', '불가리아', '스웨덴', '핀란드', '뉴질랜드', '포르투갈', '슬로바키아', '아일랜드',
        '스위스', '칠레', '노르웨이', '리투아니아', '에스토니아', '크로아티아', '라트비아', '슬로베니아',
        '룩셈부르크', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '영국', '우크라이나', '캐나다', '브라질', '프랑스', '이탈리아',
        '멕시코', '폴란드', '오스트레일리아', '대한민국', '인도네시아', '카자흐스탄', '스페인', '튀르키예',
        '아르헨티나', '네덜란드', '루마니아', '체코', '벨기에', '벨라루스', '콜롬비아', '그리스', '헝가리',
        '덴마크', '오스트리아', '불가리아', '스웨덴', '핀란드', '뉴질랜드', '포르투갈', '아일랜드', '슬로바키아',
        '스위스', '칠레', '노르웨이', '리투아니아', '크로아티아', '에스토니아', '슬로베니아', '라트비아',
        '룩셈부르크', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '중국', '러시아', '일본', '인도', '독일', '영국', '캐나다', '브라질', '우크라이나', '프랑스',
        '멕시코', '이탈리아', '폴란드', '오스트레일리아', '대한민국', '이란', '남아프리카공화국', '인도네시아',
        '스페인', '카자흐스탄', '아르헨티나', '튀르키예', '네덜란드', '루마니아', '체코', '벨기에', '콜롬비아',
        '그리스', '벨라루스', '덴마크', '헝가리', '오스트리아', '핀란드', '스웨덴', '불가리아', '뉴질랜드',
        '포르투갈', '아일랜드', '페루', '칠레', '스위스', '슬로바키아', '노르웨이', '리투아니아', '에스토니아',
        '크로아티아', '슬로베니아', '라트비아', '룩셈부르크', '코스타리카', '키프로스', '아이슬란드', '몰타',
        '리히텐슈타인', '모나코', '이스라엘', '사우디아라비아'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '영국', '캐나다', '브라질', '우크라이나', '이탈리아', '프랑스',
        '멕시코', '오스트레일리아', '폴란드', '대한민국', '스페인', '카자흐스탄', '튀르키예', '아르헨티나',
        '네덜란드', '루마니아', '체코', '벨기에', '콜롬비아', '그리스', '벨라루스', '오스트리아', '덴마크',
        '헝가리', '스웨덴', '불가리아', '핀란드', '포르투갈', '뉴질랜드', '아일랜드', '칠레', '스위스',
        '슬로바키아', '노르웨이', '크로아티아', '리투아니아', '에스토니아', '슬로베니아', '라트비아', '룩셈부르크',
        '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도', '인도네시아',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '영국', '캐나다', '브라질', '프랑스', '이탈리아', '멕시코',
        '우크라이나', '대한민국', '폴란드', '오스트레일리아', '스페인', '튀르키예', '아르헨티나', '카자흐스탄',
        '네덜란드', '루마니아', '체코', '벨기에', '콜롬비아', '그리스', '덴마크', '벨라루스', '오스트리아',
        '헝가리', '핀란드', '스웨덴', '불가리아', '뉴질랜드', '포르투갈', '칠레', '아일랜드', '이스라엘',
        '스위스', '노르웨이', '슬로바키아', '리투아니아', '크로아티아', '에스토니아', '슬로베니아', '라트비아',
        '룩셈부르크', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도',
        '인도네시아', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '영국', '캐나다', '브라질', '멕시코', '프랑스', '이탈리아',
        '대한민국', '우크라이나', '오스트레일리아', '폴란드', '스페인', '튀르키예', '아르헨티나', '카자흐스탄',
        '네덜란드', '루마니아', '체코', '벨기에', '콜롬비아', '그리스', '벨라루스', '덴마크', '오스트리아',
        '헝가리', '핀란드', '뉴질랜드', '스웨덴', '포르투갈', '칠레', '불가리아', '아일랜드', '노르웨이',
        '스위스', '슬로바키아', '크로아티아', '리투아니아', '에스토니아', '슬로베니아', '라트비아', '룩셈부르크',
        '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도', '인도네시아',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '영국', '브라질', '캐나다', '멕시코', '프랑스', '이탈리아',
        '오스트레일리아', '우크라이나', '대한민국', '폴란드', '스페인', '튀르키예', '아르헨티나', '카자흐스탄',
        '네덜란드', '루마니아', '벨기에', '체코', '콜롬비아', '그리스', '벨라루스', '오스트리아', '덴마크',
        '헝가리', '포르투갈', '스웨덴', '핀란드', '뉴질랜드', '칠레', '아일랜드', '불가리아', '스위스',
        '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아', '라트비아', '코스타리카',
        '룩셈부르크', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도', '인도네시아',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '영국', '브라질', '캐나다', '멕시코', '이탈리아', '프랑스',
        '오스트레일리아', '대한민국', '우크라이나', '폴란드', '스페인', '튀르키예', '아르헨티나', '카자흐스탄',
        '네덜란드', '루마니아', '벨기에', '체코', '그리스', '콜롬비아', '벨라루스', '포르투갈', '오스트리아',
        '헝가리', '덴마크', '칠레', '뉴질랜드', '핀란드', '스웨덴', '아일랜드', '불가리아', '노르웨이', '스위스',
        '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아', '라트비아', '코스타리카', '룩셈부르크',
        '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도', '인도네시아', '이란',
        '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '인도', '일본', '독일', '브라질', '영국', '캐나다', '멕시코', '이탈리아',
        '인도네시아', '프랑스', '대한민국', '오스트레일리아', '이란', '우크라이나', '폴란드', '스페인', '튀르키예',
        '사우디아라비아', '아르헨티나', '카자흐스탄', '네덜란드', '체코', '벨기에', '루마니아', '그리스', '콜롬비아',
        '포르투갈', '벨라루스', '오스트리아', '헝가리', '뉴질랜드', '덴마크', '칠레', '핀란드', '아일랜드',
        '스웨덴', '이스라엘', '페루', '불가리아', '노르웨이', '스위스', '슬로바키아', '크로아티아', '리투아니아',
        '슬로베니아', '에스토니아', '라트비아', '코스타리카', '룩셈부르크', '키프로스', '아이슬란드', '몰타',
        '리히텐슈타인', '모나코', '중국', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '영국', '캐나다', '멕시코', '이탈리아', '프랑스',
        '인도네시아', '대한민국', '오스트레일리아', '우크라이나', '폴란드', '스페인', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '체코', '벨기에', '루마니아', '그리스', '콜롬비아', '오스트리아', '포르투갈',
        '벨라루스', '뉴질랜드', '헝가리', '핀란드', '덴마크', '아일랜드', '칠레', '스웨덴', '불가리아', '스위스',
        '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아', '라트비아', '코스타리카',
        '룩셈부르크', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도', '이란',
        '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '캐나다', '영국', '멕시코', '이탈리아', '프랑스',
        '인도네시아', '대한민국', '오스트레일리아', '우크라이나', '스페인', '폴란드', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '루마니아', '벨기에', '체코', '그리스', '콜롬비아', '포르투갈', '오스트리아',
        '벨라루스', '핀란드', '뉴질랜드', '헝가리', '덴마크', '칠레', '아일랜드', '스웨덴', '불가리아',
        '노르웨이', '스위스', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아', '룩셈부르크',
        '라트비아', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도',
        '이란', '이스라엘', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '캐나다', '영국', '멕시코', '이탈리아', '인도네시아',
        '프랑스', '대한민국', '오스트레일리아', '우크라이나', '스페인', '폴란드', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '루마니아', '체코', '벨기에', '그리스', '콜롬비아', '오스트리아', '핀란드',
        '포르투갈', '벨라루스', '뉴질랜드', '덴마크', '헝가리', '칠레', '아일랜드', '스웨덴', '이스라엘',
        '불가리아', '노르웨이', '스위스', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아',
        '룩셈부르크', '라트비아', '코스타리카', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '캐나다', '영국', '멕시코', '이탈리아', '인도네시아',
        '대한민국', '프랑스', '오스트레일리아', '우크라이나', '스페인', '폴란드', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '루마니아', '체코', '벨기에', '그리스', '콜롬비아', '오스트리아', '벨라루스',
        '포르투갈', '핀란드', '뉴질랜드', '칠레', '헝가리', '덴마크', '아일랜드', '이스라엘', '스웨덴',
        '불가리아', '스위스', '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아',
        '룩셈부르크', '코스타리카', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['중국', '미국', '러시아', '일본', '독일', '브라질', '캐나다', '영국', '멕시코', '이탈리아',
        '인도네시아', '대한민국', '프랑스', '오스트레일리아', '우크라이나', '스페인', '폴란드', '튀르키예',
        '아르헨티나', '카자흐스탄', '네덜란드', '루마니아', '체코', '벨기에', '그리스', '콜롬비아', '오스트리아',
        '벨라루스', '포르투갈', '뉴질랜드', '칠레', '헝가리', '아일랜드', '이스라엘', '핀란드', '덴마크', '페루',
        '스웨덴', '불가리아', '스위스', '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아',
        '에스토니아', '룩셈부르크', '코스타리카', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인',
        '모나코', '인도', '이란', '사우디아라비아', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '캐나다', '영국', '멕시코', '인도네시아', '이탈리아',
        '대한민국', '프랑스', '오스트레일리아', '우크라이나', '스페인', '폴란드', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '루마니아', '체코', '벨기에', '콜롬비아', '그리스', '오스트리아', '벨라루스',
        '뉴질랜드', '포르투갈', '핀란드', '칠레', '덴마크', '헝가리', '이스라엘', '아일랜드', '스웨덴',
        '불가리아', '스위스', '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아',
        '룩셈부르크', '코스타리카', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '캐나다', '멕시코', '영국', '인도네시아', '대한민국',
        '이탈리아', '오스트레일리아', '프랑스', '우크라이나', '스페인', '폴란드', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '루마니아', '체코', '벨기에', '콜롬비아', '그리스', '칠레', '벨라루스',
        '오스트리아', '뉴질랜드', '핀란드', '포르투갈', '이스라엘', '헝가리', '덴마크', '아일랜드', '불가리아',
        '스웨덴', '노르웨이', '스위스', '슬로바키아', '크로아티아', '리투아니아', '에스토니아', '슬로베니아',
        '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '멕시코', '캐나다', '영국', '인도네시아', '대한민국',
        '이탈리아', '오스트레일리아', '프랑스', '우크라이나', '스페인', '폴란드', '튀르키예', '아르헨티나',
        '카자흐스탄', '네덜란드', '루마니아', '체코', '콜롬비아', '벨기에', '그리스', '벨라루스', '칠레',
        '오스트리아', '뉴질랜드', '포르투갈', '이스라엘', '헝가리', '핀란드', '아일랜드', '덴마크', '불가리아',
        '스웨덴', '스위스', '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아',
        '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '브라질', '멕시코', '캐나다', '인도네시아', '영국', '대한민국',
        '오스트레일리아', '이탈리아', '프랑스', '튀르키예', '우크라이나', '폴란드', '스페인', '아르헨티나',
        '카자흐스탄', '네덜란드', '콜롬비아', '체코', '루마니아', '벨기에', '그리스', '벨라루스', '칠레',
        '오스트리아', '뉴질랜드', '포르투갈', '이스라엘', '핀란드', '헝가리', '덴마크', '아일랜드', '스웨덴',
        '불가리아', '스위스', '노르웨이', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아',
        '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['중국', '미국', '인도', '러시아', '일본', '독일', '브라질', '멕시코', '캐나다', '인도네시아',
        '대한민국', '영국', '오스트레일리아', '사우디아라비아', '이탈리아', '프랑스', '우크라이나', '폴란드',
        '튀르키예', '스페인', '카자흐스탄', '아르헨티나', '네덜란드', '콜롬비아', '체코', '벨기에', '루마니아',
        '그리스', '벨라루스', '칠레', '오스트리아', '페루', '뉴질랜드', '핀란드', '이스라엘', '포르투갈',
        '헝가리', '덴마크', '스웨덴', '아일랜드', '불가리아', '스위스', '노르웨이', '슬로바키아', '크로아티아',
        '에스토니아', '리투아니아', '슬로베니아', '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드',
        '몰타', '리히텐슈타인', '모나코', '이란', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '브라질', '독일', '멕시코', '인도네시아', '캐나다', '대한민국', '영국',
        '오스트레일리아', '이탈리아', '프랑스', '우크라이나', '튀르키예', '폴란드', '스페인', '아르헨티나',
        '카자흐스탄', '네덜란드', '콜롬비아', '체코', '루마니아', '벨기에', '그리스', '칠레', '벨라루스',
        '오스트리아', '이스라엘', '뉴질랜드', '포르투갈', '핀란드', '헝가리', '불가리아', '덴마크', '스웨덴',
        '아일랜드', '노르웨이', '스위스', '슬로바키아', '크로아티아', '리투아니아', '에스토니아', '슬로베니아',
        '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['중국', '미국', '러시아', '일본', '브라질', '독일', '인도네시아', '멕시코', '캐나다', '대한민국',
        '영국', '오스트레일리아', '사우디아라비아', '이탈리아', '프랑스', '튀르키예', '우크라이나', '폴란드',
        '스페인', '카자흐스탄', '아르헨티나', '네덜란드', '콜롬비아', '체코', '루마니아', '벨기에', '그리스',
        '칠레', '벨라루스', '페루', '이스라엘', '오스트리아', '뉴질랜드', '포르투갈', '핀란드', '헝가리',
        '아일랜드', '불가리아', '스웨덴', '덴마크', '노르웨이', '스위스', '슬로바키아', '크로아티아', '리투아니아',
        '에스토니아', '슬로베니아', '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타',
        '리히텐슈타인', '모나코', '인도', '이란', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '브라질', '독일', '인도네시아', '멕시코', '캐나다', '대한민국', '영국',
        '오스트레일리아', '프랑스', '이탈리아', '튀르키예', '우크라이나', '폴란드', '아르헨티나', '카자흐스탄',
        '스페인', '네덜란드', '콜롬비아', '체코', '벨기에', '루마니아', '그리스', '칠레', '벨라루스',
        '오스트리아', '뉴질랜드', '이스라엘', '포르투갈', '핀란드', '아일랜드', '헝가리', '덴마크', '스웨덴',
        '불가리아', '노르웨이', '스위스', '슬로바키아', '크로아티아', '에스토니아', '리투아니아', '슬로베니아',
        '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국',
        '인도', '이란', '사우디아라비아', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['중국', '미국', '러시아', '일본', '브라질', '독일', '인도네시아', '멕시코', '캐나다', '대한민국',
        '오스트레일리아', '영국', '튀르키예', '프랑스', '이탈리아', '폴란드', '우크라이나', '카자흐스탄',
        '아르헨티나', '스페인', '네덜란드', '콜롬비아', '체코', '루마니아', '벨기에', '그리스', '칠레',
        '벨라루스', '페루', '뉴질랜드', '오스트리아', '이스라엘', '포르투갈', '아일랜드', '헝가리', '핀란드',
        '불가리아', '노르웨이', '스웨덴', '덴마크', '스위스', '슬로바키아', '크로아티아', '에스토니아', '리투아니아',
        '슬로베니아', '코스타리카', '룩셈부르크', '라트비아', '키프로스', '아이슬란드', '몰타', '리히텐슈타인',
        '모나코', '인도', '이란', '사우디아라비아', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '브라질', '인도네시아', '독일', '멕시코', '캐나다', '대한민국',
        '오스트레일리아', '영국', '튀르키예', '프랑스', '이탈리아', '폴란드', '카자흐스탄', '스페인', '우크라이나',
        '네덜란드', '콜롬비아', '체코', '벨기에', '루마니아', '칠레', '그리스', '벨라루스', '뉴질랜드',
        '오스트리아', '이스라엘', '포르투갈', '헝가리', '아일랜드', '불가리아', '핀란드', '노르웨이', '스웨덴',
        '덴마크', '스위스', '슬로바키아', '크로아티아', '리투아니아', '에스토니아', '슬로베니아', '코스타리카',
        '라트비아', '룩셈부르크', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도',
        '이란', '사우디아라비아', '아르헨티나', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '인도', '러시아', '일본', '브라질', '독일', '인도네시아', '멕시코', '캐나다', '대한민국',
        '오스트레일리아', '튀르키예', '영국', '프랑스', '이탈리아', '폴란드', '카자흐스탄', '우크라이나', '스페인',
        '네덜란드', '콜롬비아', '체코', '벨기에', '루마니아', '칠레', '페루', '그리스', '벨라루스', '오스트리아',
        '이스라엘', '뉴질랜드', '포르투갈', '아일랜드', '헝가리', '핀란드', '불가리아', '스웨덴', '노르웨이',
        '덴마크', '스위스', '슬로바키아', '크로아티아', '리투아니아', '에스토니아', '슬로베니아', '코스타리카',
        '라트비아', '룩셈부르크', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '이란',
        '사우디아라비아', '아르헨티나', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '멕시코', '캐나다', '대한민국', '오스트레일리아', '튀르키예', '영국',
        '프랑스', '이탈리아', '폴란드', '카자흐스탄', '스페인', '우크라이나', '네덜란드', '콜롬비아', '체코',
        '루마니아', '벨기에', '칠레', '그리스', '벨라루스', '오스트리아', '뉴질랜드', '이스라엘', '포르투갈',
        '헝가리', '아일랜드', '불가리아', '핀란드', '노르웨이', '스웨덴', '덴마크', '스위스', '슬로바키아',
        '크로아티아', '에스토니아', '리투아니아', '슬로베니아', '코스타리카', '라트비아', '룩셈부르크', '키프로스',
        '아이슬란드', '몰타', '리히텐슈타인', '모나코', '중국', '인도', '인도네시아', '이란', '사우디아라비아',
        '아르헨티나', '브라질', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '멕시코', '대한민국', '캐나다', '오스트레일리아', '튀르키예', '영국',
        '프랑스', '이탈리아', '폴란드', '카자흐스탄', '우크라이나', '스페인', '네덜란드', '콜롬비아', '체코',
        '루마니아', '벨기에', '칠레', '그리스', '벨라루스', '오스트리아', '뉴질랜드', '이스라엘', '포르투갈',
        '헝가리', '아일랜드', '핀란드', '불가리아', '노르웨이', '스웨덴', '덴마크', '스위스', '슬로바키아',
        '크로아티아', '에스토니아', '리투아니아', '슬로베니아', '라트비아', '룩셈부르크', '키프로스', '아이슬란드',
        '몰타', '리히텐슈타인', '모나코', '중국', '인도', '인도네시아', '이란', '사우디아라비아', '아르헨티나',
        '브라질', '코스타리카', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '멕시코', '캐나다', '대한민국', '오스트레일리아', '튀르키예', '영국',
        '프랑스', '이탈리아', '폴란드', '카자흐스탄', '우크라이나', '스페인', '네덜란드', '체코', '벨기에',
        '루마니아', '칠레', '벨라루스', '그리스', '오스트리아', '뉴질랜드', '이스라엘', '헝가리', '포르투갈',
        '아일랜드', '불가리아', '핀란드', '노르웨이', '스웨덴', '덴마크', '스위스', '슬로바키아', '크로아티아',
        '리투아니아', '슬로베니아', '에스토니아', '라트비아', '룩셈부르크', '키프로스', '아이슬란드', '몰타',
        '리히텐슈타인', '모나코', '중국', '인도', '인도네시아', '이란', '사우디아라비아', '아르헨티나', '브라질',
        '콜롬비아', '코스타리카', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '캐나다', '대한민국', '오스트레일리아', '튀르키예', '영국', '프랑스',
        '이탈리아', '폴란드', '카자흐스탄', '우크라이나', '스페인', '네덜란드', '체코', '루마니아', '벨기에',
        '칠레', '벨라루스', '이스라엘', '뉴질랜드', '그리스', '오스트리아', '헝가리', '아일랜드', '포르투갈',
        '노르웨이', '불가리아', '핀란드', '스웨덴', '덴마크', '스위스', '슬로바키아', '크로아티아', '리투아니아',
        '슬로베니아', '에스토니아', '라트비아', '룩셈부르크', '키프로스', '아이슬란드', '몰타', '리히텐슈타인',
        '모나코', '중국', '인도', '인도네시아', '이란', '사우디아라비아', '멕시코', '아르헨티나', '브라질',
        '콜롬비아', '코스타리카', '페루', '남아프리카공화국'],
       dtype='object', name='국가별'),
 Index(['미국', '러시아', '일본', '독일', '캐나다', '튀르키예', '오스트레일리아', '영국', '프랑스', '이탈리아',
        '폴란드', '카자흐스탄', '우크라이나', '스페인', '네덜란드', '체코', '루마니아', '벨기에', '벨라루스',
        '오스트리아', '그리스', '뉴질랜드', '헝가리', '아일랜드', '포르투갈', '불가리아', '노르웨이', '스웨덴',
        '핀란드', '덴마크', '스위스', '슬로바키아', '크로아티아', '리투아니아', '슬로베니아', '에스토니아',
        '라트비아', '룩셈부르크', '키프로스', '아이슬란드', '몰타', '리히텐슈타인', '모나코', '대한민국', '중국',
        '인도', '인도네시아', '이란', '이스라엘', '사우디아라비아', '멕시코', '아르헨티나', '브라질', '칠레',
        '콜롬비아', '코스타리카', '페루', '남아프리카공화국'],
       dtype='object', name='국가별')]

In [14]:
df_contry = pd.DataFrame(top10_contry).T

In [15]:
df_contry.columns = top10_year

In [17]:
df_contry.head()

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,폴란드,폴란드,미국,미국,미국,미국,미국,미국,미국,미국,...,중국,미국,중국,미국,미국,미국,미국,미국,미국,미국
1,대한민국,대한민국,러시아,러시아,러시아,러시아,중국,러시아,러시아,러시아,...,미국,러시아,미국,러시아,인도,러시아,러시아,러시아,러시아,러시아
2,중국,중국,일본,일본,일본,일본,러시아,일본,일본,일본,...,러시아,일본,러시아,일본,러시아,일본,일본,일본,일본,일본
3,인도,인도,독일,독일,독일,독일,일본,독일,독일,독일,...,일본,브라질,일본,브라질,일본,독일,독일,독일,독일,독일
4,인도네시아,인도네시아,우크라이나,우크라이나,우크라이나,영국,인도,영국,영국,영국,...,브라질,독일,브라질,인도네시아,브라질,멕시코,멕시코,멕시코,캐나다,캐나다

In [24]:
df_contry.head()

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,폴란드,폴란드,미국,미국,미국,미국,미국,미국,미국,미국,...,중국,미국,중국,미국,미국,미국,미국,미국,미국,미국
1,대한민국,대한민국,러시아,러시아,러시아,러시아,중국,러시아,러시아,러시아,...,미국,러시아,미국,러시아,인도,러시아,러시아,러시아,러시아,러시아
2,중국,중국,일본,일본,일본,일본,러시아,일본,일본,일본,...,러시아,일본,러시아,일본,러시아,일본,일본,일본,일본,일본
3,인도,인도,독일,독일,독일,독일,일본,독일,독일,독일,...,일본,브라질,일본,브라질,일본,독일,독일,독일,독일,독일
4,인도네시아,인도네시아,우크라이나,우크라이나,우크라이나,영국,인도,영국,영국,영국,...,브라질,독일,브라질,인도네시아,브라질,멕시코,멕시코,멕시코,캐나다,캐나다

In [19]:
temp_df = df_contry.T

In [21]:
temp_df.reset_index(inplace=True)

In [23]:
temp_df = temp_df.rename(columns ={"index":"연도"})
# temp_df.drop(index=0,axis=0,inplace=True)
temp_df.head()

,연도,0,1,2,3,4,5,6,7,8,...,48,49,50,51,52,53,54,55,56,57
0,1988,폴란드,대한민국,중국,인도,인도네시아,이란,이스라엘,사우디아라비아,멕시코,...,리투아니아,슬로베니아,에스토니아,라트비아,룩셈부르크,키프로스,아이슬란드,몰타,리히텐슈타인,모나코
1,1989,폴란드,대한민국,중국,인도,인도네시아,이란,이스라엘,사우디아라비아,멕시코,...,리투아니아,슬로베니아,에스토니아,라트비아,룩셈부르크,키프로스,아이슬란드,몰타,리히텐슈타인,모나코
2,1990,미국,러시아,일본,독일,우크라이나,영국,캐나다,브라질,프랑스,...,키프로스,아이슬란드,몰타,리히텐슈타인,모나코,중국,인도,이란,이스라엘,페루
3,1991,미국,러시아,일본,독일,우크라이나,영국,캐나다,브라질,프랑스,...,몰타,리히텐슈타인,모나코,중국,인도,이란,이스라엘,사우디아라비아,페루,남아프리카공화국
4,1992,미국,러시아,일본,독일,우크라이나,영국,캐나다,브라질,프랑스,...,몰타,리히텐슈타인,모나코,중국,인도,이란,이스라엘,사우디아라비아,페루,남아프리카공화국

In [ ]:
temp_df.set_index('연도', inplace=True)

In [ ]:
# 산포도 확인하기
import matplotlib.pyplot as plt

plt.scatter(
    temp_df,
    top10_year
)
plt.xlabel('rank 10 contry')
plt.ylabel('year')
plt.show()

In [ ]:
df_ghg = pd.DataFrame(top10_ghg).T
df_ghg.columns = top10_year

In [ ]:
df_ghg.head()

In [ ]:
df_ghg.info()

In [ ]:
df = pd.concat([df_contry,df_ghg])
df

In [ ]:
# 결과 출력
top10_contry = {}
for key, value in rank_df.items():
    print(key, ":\n", value)

In [ ]:
# 연도별 데이터프레임 생성해서 top10 보여주는 데이터프레임 만들기.
def top10_by_year(df):

    # 각 연도별 데이터프레임을 저장할 딕셔너리
    dataframes = {}

    # 각 연도의 데이터를 추출하고 내림차순 정렬
    years = set(col.split('_')[0] for col in df.columns)
    for year in years:
        year_cols = [col for col in df.columns if col.startswith(year)]
        df_year = df[year_cols]
        # NaN 값만 있는 열을 제거합니다.
        df_year = df_year.dropna(how='all', axis=1)
        # 각 열을 내림차순으로 정렬합니다.
        df_year = df_year.apply(lambda x: x.sort_values(ascending=False).values)
        # 결과를 딕셔너리에 저장합니다.
        dataframes[f'df_{year}'] = df_year

    return dataframes

In [ ]:

# 1988년부터 2021년까지의 각 연도별로 상위 10개 항목을 내림차순으로 정렬
top10_by_year = {}
for year in range(1988, 2021):
    top10_by_year[f'df_{year}'] = data[str(year)].sort_values(ascending=False).head(10)